
img{
    height: 35%;
    width: 50%;
}

*{
    text-align: center;
}

h2{
    text-align: left;
}

h3{
    text-align: left;
}

h4{
    text-align: left;
}

ul{
    text-align: left;
}

li{
    text-align: left;
}

div{
    padding-left: 15%;
    padding-right: 15%;
}

a{
    text-decoration: none;
}

a:hover{
    color: navy;
}

.bold{
    font-weight: bold;
}
